<a href="https://colab.research.google.com/github/AstridRombaut/-D012513A_Python_20230929/blob/main/exam_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import warnings;
warnings.filterwarnings('ignore');

import pandas as pd

# Practical Python Specialized Bioinformatics

#### 29/09/2023

For this exam you are asked to complete the Python code between the

```
#start code here

#end code here
```

comments.

A direct question needs to be answered in the text field just below the question.

Don't forget to periodically save your work to your GitHub repository.

Please write your name and studentnumber in the text box below:

### Name: Astrid Rombaut

### Number:01609861

### Total points:        / 20

**question 1 (2pts)**

Create a Pandas DataFrame called `letters` that looks like this:

|   | letter_1 | letter_2 | letter_3 |
|---|----------|----------|----------|
| 0 | a        | d        | g        |
| 1 | b        | e        | h        |
| 2 | c        | f        | i        |

In [2]:
#start code here

letters = {"letter_1": ["a", "b", "c"],
           "letter_2": ["d", "e", "f"],
           "letter_3":["g", "h", "i"]}
  numbers = pd.DataFrame(letters)
  numbers.index =['0', '1', '2']

#end code here

letters

IndentationError: ignored

**question 2 (1pt)**

Use the Pandas DataFrame `.tail()` function to print the last two rows of the `letters` DataFrame.

In [3]:
#start code here

letters.tail(2,3)
#end code here

NameError: ignored

**question 3 (1pt)**

In `letters`, create a column `letters_2_3` that concatenates the letters in columns `letter_2` and `letter_3`. The result should look like this:

|   | letter_1 | letter_2 | letter_3 | letter_2_3 |
|---|----------|----------|----------|------------|
| 0 | a        | d        | g        | dg         |
| 1 | b        | e        | h        | eh         |
| 2 | c        | f        | i        | fi         |

In [ ]:
#start code here


#end code here

letters

**question 4 (1pt)**

Set the `letter_1` column as the index of the `letters` DataFrame.

In [ ]:
#start code here


#end code here

print(letters)

**question 5 (1pt)**

Use the DataFrame `.loc` to print the row with index 'b'.

In [ ]:
#start code here


#end code here

The following code loads the dataset we will use for this exam.

In [ ]:
from sklearn.datasets import load_breast_cancer
dataset = load_breast_cancer(as_frame=True).frame
dataset.rename(columns = {'target':'label'}, inplace = True)

**question 6 (1pt)**

Use one line of code to print the first, third and tenth row from the `dataset` DataFrame. Use `.iloc`.

In [ ]:
#start code here


#end code here

**question 7 (1pt)**

Print the label of the last row in the `dataset` DataFrame.

In [ ]:
#start code here


#end code here

**question 8 (2pts)**

Print all the rows in the `dataset` DataFrame with `worst texture` > 40 or `mean compactness` < 0.03.

In [ ]:
#start code here


#end code here

**question 9 (3pts)**

Add a column `my_feature` to `dataset` that has value 1 if the value of the `mean radius` column is strictly lower than the value of the `mean texture` column, and has value 0 otherwise. Use the DataFrame `.apply()` function.

In [ ]:
#start code here


#end code here

print(dataset)

The following code creates a Pandas DataFrame `X` that contains all the 31 features in `dataset` and a Pandas Series `y` that contains the label.

In [ ]:
X = dataset.copy()
y = X.pop("label")

print(X.shape)
print(y.shape)

**question 10 (1pt)**

Use the Scikit-learn `StandardScaler` to standardize the feature values in `X` (assign the result to `X_norm`).

In [ ]:
from sklearn.preprocessing import StandardScaler

#start code here

X_norm =

#start code here

print(X_norm)

**question 11 (2pts)**

Apply the K-means clustering algorithm (set hyperparameter `random_state` to 1, leave all other hyperparameters to their default values) to cluster the feature vectors in `X_norm` into two groups. The result of the clustering (the cluster labels for each datapoint in `X_norm`) should be assigned to a variable called `kmeans_result`.

In [ ]:
from sklearn.cluster import KMeans

#start code here


kmeans_result =

#end code here

print(kmeans_result)

**question 12 (1pt)**

What does `kmeans_results` contain?

*Answer here*

**question 13 (2pts)**

Reduce the dimension of the feature vectors in `X_norm` to 3 using the t-distributed Stochastic Neighbor Embedding (t-SNE) algorithm with the `perplexity` hyperparameter value set to 10. The result should be in `X_embedded`.

In [ ]:
from sklearn.manifold import TSNE

#start code here


X_embedded =

#end code here

print(X_embedded)

**question 14 (1pt)**

What does `X_embedded` contain?

*Answer here*